
/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "华文行楷";
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.clear {
    clear: both;
}

/* clear float */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    max-width: 100%;
}

/*end reset*/

body {
    font-size: 100%;
     background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
	font-family: 'Raleway', sans-serif;
}

/*--header--*/
.head {
    background: rgba(0, 0, 0, 0.53);
    min-height: 100vh;
    padding: 0 13vw;
}
.main {
    padding: 4vw 0;
}
h1 {
    font-size: 3.5em;
    color: #fff;
    letter-spacing: 4px;
     padding-top: 3vw;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    text-transform: capitalize;
}
.main-content-agile {
    width: 55%;
    float: left;
    margin-top: 6vw;
}
.main-content-right {
    width: 45%;
    float: left;
}

h2 {
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
}

h3 {
    color: #FFC107;
    font-weight: 900;
    display: block;
    margin-top: 10px;
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.w3l-agile p {
    color: #e4e4e4;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 18px;
    margin: 1em 0 2em;
}

h2 span {
    color: #FFC107;
}

/*--//header--*/

/*-- content --*/

.form-style-agile {
}

.sub-main-w3 p {
    color: #666;
    font-size: 20px;
	font-weight: 600;
    margin-bottom: 1vw;
    letter-spacing: 1px;
    text-align: right;
}

.form-style-agile input[type="text"],.form-style-agile input[type="tel"] {
      outline: none;
    font-size: 15px;
    border: none;
    color: #000;
	background: #eee;
     border: 1px solid #ddd;
    letter-spacing: 1px;
    padding: 18px 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
	margin-bottom: 20px;
     border-radius: 35px;
}

.sub-main-w3 input[type="button"] {
    color: #fff;
    background: #009688;
    border: none;
    padding: 16px 0;
    outline: none;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
     border-radius: 35px;
    letter-spacing: 2px;
     font-weight: 600;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
	font-family: 'Raleway', sans-serif;
}

.sub-main-w3 input[type="button"]:hover {
     background: #333;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.sub-main-w3 {
    background: #fff;
    padding: 5.5vw 3vw;
    margin: 2em;
    border-radius: 45px;
}

.examples {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

div#simply-countdown-losange {
    max-width: 800px;
    margin: 0 ;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 90%;
    -webkit-flex-basis: 90%;
}

.simply-section {
    flex-basis: 20%;
    -webkit-flex-basis: 20%;
    box-sizing: border-box;
    padding: 2vw 0;
}

span.simply-amount {
    color: #fff;
    font-size: 70px;
     font-weight: 600;
}

span.simply-word {
    font-size: 18px;
    letter-spacing: 2px;
    margin-left: 5px;
    color: #fff;
    display: block;
    text-transform: capitalize;
    margin-top: 15%;
}

/*-- //Countdown-Timer --*/

/*--//main--*/

/*--footer--*/

.footer {
    padding-bottom: 2vw;
}

.footer p {
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.8;
}

.footer p a {
    color: #FFC107;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer p a:hover {
    color: #fff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/*--//footer--*/

/*-- responsive --*/

@media(max-width: 1366px) {
	.head {
		padding: 0 10vw;
	}
}

@media(max-width: 1080px) {
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 2.5em;
    }
	h3 {
		font-size: 40px;
	}
	.sub-main-w3 {
		margin: 1em 0em;
	}
	span.simply-amount {
		font-size: 60px;
	}
}

@media(max-width: 900px) {
	.main-content-agile {
		width: 100%;
		float: none;
		margin-top: 5vw;
	}
	.main-content-right {
		width: 55%;
		float: none;
	}
	.sub-main-w3 {
		padding: 5.5vw 5vw;
	}
	.form-style-agile input[type="text"], .form-style-agile input[type="tel"] {
		padding: 15px 20px;
	}
}

@media(max-width: 800px) {
    h1 {
        font-size: 3em;
        padding: 3vw 2vw 5vw;
    }
    span.simply-amount {
        font-size: 50px;
    }
	.main-content-right {
		width: 65%;
	}
	.main-content-agile {
		margin-top: 0vw;
	}
}

@media(max-width: 667px) {
	h2 {
		font-size: 2em;
	}
	h1 {
		font-size: 2.8em;
		padding: 3vw 0vw 5vw;
	}
	.main-content-right {
		width: 75%;
	}
}
@media(max-width: 600px) {
    span.simply-word {
        font-size: 16px;
    }
    .w3l-agile p {
        font-size: 16px;
        margin: 1em .5em;
    }
	.main-content-right {
		width: 90%;
	}
	.sub-main-w3 {
		padding: 7.5vw 8vw;
	}
	.footer p {
		font-size: 15px;
		letter-spacing: 1px;
	}
	h1 {
		font-size: 2.6em;
		letter-spacing: 2px;
	}
}

@media(max-width: 480px) {
    h1 {
        font-size: 2.3em;
        padding: 5vw 0vw 6vw;
		letter-spacing: 1px;
    }
    h2 {
        font-size: 2.2em;
    }
    span.simply-amount {
        font-size: 38px;
    }
    span.simply-word {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .sub-main-w3 p {
        margin-bottom: 3vw;
    }
	.main-content-right {
		width: 100%;
	}
	h3 {
		font-size: 30px;
	}
	.sub-main-w3 p {
		font-size: 18px;
	}
}

@media(max-width: 384px) {
    span.simply-amount {
        font-size: 32px;
    }
    span.simply-word {
        font-size: 14px;
    }
    h2 {
        font-size: 2em;
    }
    .footer p {
        letter-spacing: 1px;
    }
    .w3l-agile p {
        font-size: 15px;
    }
	.head {
		padding: 0 8vw;
	}
	h1 {
		font-size: 1.9em;
	}
	.sub-main-w3 {
		padding: 10vw 8vw;
	}
	.sub-main-w3 input[type="button"] {
		padding: 15px 0;
		font-size: 14px;
		letter-spacing: 1px;
	}
	.form-style-agile input[type="text"], .form-style-agile input[type="tel"] {
		padding: 13px 20px;
		font-size: 14px;
	}
	.sub-main-w3 p {
		font-size: 16px;
	}
}

@media(max-width: 320px) {
    h1 {
        font-size: 2.2em;
        letter-spacing: 1px;
    }
    h2 {
        font-size: 1.5em;
    }
    .w3l-agile p {
        font-size: 14px;
    }
    .simply-section {
        flex-basis: 48%;
        -webkit-flex-basis: 48%;
    }
    .simply-section:nth-child(3),
    .simply-section:nth-child(4) {
        margin-top: 1em;
    }
    .form-style-agile input[type="tel"] {
        font-size: 13px;
        flex-basis: 70%;
        -webkit-flex-basis: 70%;
    }
    .sub-main-w3 input[type="button"] {
        padding: 13px 0;
        flex-basis: 30%;
        -webkit-flex-basis: 30%;
        font-size: 14px;
    }
    .sub-main-w3 p {
        font-size: 17px;
    }
    .sub-main-w3 form {
        margin: 11vw 4vw;
    }
}

/*-- //responsive --*/